.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1a1a1a;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 90%;
    text-align: start;
    gap: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    /* align-items: center; */
    /* margin-bottom: 5px; */
  
  }

  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }

  textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
  }
  
  select{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }

.cancel {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.cancel:hover {
    background-color: #d32f2f;
}

.create {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.create:hover{
  background-color: #3e8e41;
}
.actions{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.modal-title{
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.event-image-create {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.event-image-create-label{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.modal-content{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-columns {
  display: flex;
}

.column {
  flex: 1;
}

.column:first-child {
  margin-right: 20px; /* Espaço entre as colunas */
}