.App{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.sidebar {
  display: flex;
  /* flex-grow: 1; */
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
  transition: all 0.2s ease-in-out;
  width: 50px;
  color: #fff;
  background-color: #1a1a1a;
  border-right: 1px solid #ddd;
  padding: 10px;
  box-sizing: border-box;
}

.sidebar:hover {
  
  align-items: start;
  transition: all 0.2s ease-in-out;
  width: 200px;
}

.sidebar ul {
  
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease-in-out;
  list-style: none;
  gap: 10px;
  padding: 0;
  margin: 0;
}



.sidebar a {
  color: #fff;
  gap: 10px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  display: flex;
    
}

.sidebar span {
  /* transition: all 0.2s ease-in-out; */
  display: none;
}

.sidebar:hover span {
  transition: all 0.2s ease-in-out;
  display: block;
}

.header {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color:#1a1a1a ;
  
  border-bottom: 1px solid #ddd;
}

.header a {
  text-decoration: none;
  color: #fff;
}



.content {
  display: flex ;
  flex-grow: 1;
  flex-direction: column;
  padding: 10px;
  background-color: #1a1a1a ;
  color: #fff;
  align-items: center;
}

.container{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  
}

.error {
  color: red;
  font-weight: bold;
}

